
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://res.cloudinary.com/spark-and-rise-ltd/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1566120824/johann-trasch-b-3uxA93zUc-unsplash_uqvupc.jpg');">

  <div class="banner-content">
    <h1>Share your cocktails</h1>
    <p>Awesome beverages for unforgettable nightlife</p>
    <%= link_to "Add cocktail", new_cocktail_path, class: "btn btn-flat" %>

    <div class="button">
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description">
            <h2><%= cocktail.name %></h2>
          </div>
          <%= link_to "+ more", cocktail_path(cocktail), class: 'card-link' %>

        </div>
      </div>
    <% end %>
  </div>
</div>

